.container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    border: 1px solid black;
    flex: 1;
    aspect-ratio: 1/1;
}

.highlight {
    background-color: gray;
}